* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "montseratt", "sans-serif";
}

.app {
  background-color: lightblue;
  background-size: cover;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.app.warm {
  background-color: bisque;
}

main {
  min-height: 100vh;
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 58px;
  padding: 0 40px 0 40px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 9px;
  outline: none;
  border: 1px solid whitesmoke;
  border-top: 0px;
  border-radius: 0 0 12px 12px;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: medium;
  margin-top: -25px;
  -webkit-box-shadow: 0px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: 0.4s ease;
          transform: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  color: black;
  text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
  margin: 4px;
}

.location-box .date {
  color: black;
  font-size: 17px;
  font-style: italic;
  text-align: center;
}

.weather-box {
  text-align: center;
}

.weather-box .temperature {
  position: relative;
  display: inline-block;
  margin: 30px auto 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 8px 20px;
  color: white;
  font-size: 82px;
  font-weight: 900;
  letter-spacing: px;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.03);
  text-align: center;
  -webkit-box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: white;
  font-size: 48px;
  font-weight: 400;
  text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
}
